---
import InstagramIcon from "@/icons/footer/InstagramIcon.astro";
import TwitterIcon from "@/icons/footer/TwitterIcon.astro";


---

<footer class="flex flex-col items-center mb-16 md:mb-12 gap-2">
   <div class="flex gap-2">
        <a href="https://x.com/caawards"><TwitterIcon class:list={'hover-scale w-5'}/></a>
        <a href="https://www.instagram.com/caawards"><InstagramIcon class:list={'hover-scale w-5'} /></a>
   </div>
   <div class="flex items-center gap-1 font-Inter text-xs">
    <h5>Coscu Army Awards</h5>
    <span>|</span>
    <h5>Derechos de autor © 2024</h5>
   </div>
</footer>