---
import { aboutParagraphs } from "@/data/about.ts";
---

<section class="flex md:flex-row flex-col flex-1 items-center justify-center gap-8 p-9 md:px-20 w-full">
    <div class="md:w-3/4 w-full">
        <h2 class="mb-4 2xl:text-6xl text-4xl font-Inter font-light">Sobre Nosotros</h2>
        <div class="flex flex-col 2xl:gap-5 gap-3 font-Inter font-light text-sm 2xl:text-xl 2xl:font-extralight">
            {aboutParagraphs.map(paragraph => (
                    <p>{paragraph}</p>
                ))
            }
        </div>
    </div>
    <div class="flex flex-col items-center w-full md:w-1/4 gap-2">
        <h2 class="text-4xl md:text-5xl 2xl:text-7xl text-primary tracking-widest font-Inter font-semibold">2023</h2>
        <div class="flex md:flex-col flex-row items-center text-center gap-4 font-Inter font-light 2xl:text-xl">
            <div>
                <h3 class="font-semibold text-xs 2xl:text-xl">PICO DE ESPECTADORES</h3>
                <span>125.473</span>
            </div>
            <div>
                <h3 class="font-semibold text-xs 2xl:text-xl">DURACION</h3>
                <span>5h 45m</span>
            </div>
            <div>
                <h3 class="font-semibold text-xs 2xl:text-xl">CATEGORIAS</h3>
                <span>52</span>
            </div>
        </div>
    </div>
</section>