---

---

<section>
    <h2>Sobre Nosotros</h2>
    <p>
        Los Coscu Army Awards es un evento que premia y homenajea a streamers de la comunidad de Twitch de Argentina, dirigido por el streamer argentino Martín Pérez Disalvo.
    </p>
    <p>
        En 2018, organizó el primer evento de la Coscu Army Awards en la Escuela Da Vinci, y fue transmitido por Twitch. El evento alcanzó un pico de 40 mil espectadores, superando al streamer más popular de la plataforma en el mundo en esa época. 
    </p>
    <p>
        En 2019, se realizó la segunda edición en el Estadio Obras Sanitarias de CABA, contó con un pico de casi 100 mil espectadores.
    </p>
    <p>
        En 2020, se organizó la tercera edición en el Estadio Obras Sanitarias, superó los 425 mil espectadores y se convirtió en la transmisión más vista de la plataforma en Latinoamérica, y los streamers le otorgaron a Coscu el reconocimiento de "Streamer Leyenda".
    </p>
    <p>
        En 2021, se realizó la cuarta edición en el Hotel Hilton. Además homenajearon a Frankkaster, Grafo y Pimpeano ganadores en años anteriores con un anillo de oro como obsequio.
    </p>
    <p>
        En 2022, hubo un salto importante para la comunidad al realizar la quinta edición en el monumento histórico de Argentina: el Teatro Colón, contó con más de 200 mil espectadores y más de 2.500 invitados.
    </p>
    <p>
        En 2023, Tuvimos la oportunidad de tener la sexta edición en el Luna Park, teniendo casi una duración de 6 horas, el streamer del año fue DavoXeneize, quien dedicó el premio a Juan Román Riquelme.
    </p>
</section>