---
import LogoCaawards from '@/icons/LogoCaawards.astro';
---

<section class="flex items-center justify-evenly">
    <a href="/"><LogoCaawards class:list={'w-[680px] h-auto'}/></a>
    <div class="flex flex-col items-center gap-3">
        <h2 class="text-4xl text-primary italic">ERROR 404</h2>
        <h3 class="text-3xl font-medium">PÁGINA NO ENCONTRADA</h3>
        <p class="w-96 text-center text-xl">
            ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección <span class="text-primary font-semibold">URL</span> sea correcta.
        </p>
    </div>
</section>