---
import LogoCaawards from '@/icons/LogoCaawards.astro';
import { getTranslateLabels } from "../lib/lang-utils";

const translateLabels = getTranslateLabels(Astro.currentLocale);
---

<section class="flex items-center md:justify-evenly justify-evenly flex-col-reverse xl:flex-row flex-1">
    <a href="/"><LogoCaawards class:list={'xl:w-[680px] md:w-[430px] w-80 h-auto'} alt="logo-caawards"/></a>
    <div class="flex flex-col items-center gap-3">
        <h2 class="xl:text-5xl text-4xl text-primary italic">ERROR 404</h2>
        <h3 class="xl:text-4xl md:text-3xl text-2xl font-medium">{translateLabels("error.notfound")}</h3>
        <p class="md:w-96 w-80 text-center text-xl xl:text-2xl xl:w-[400px]">
            {translateLabels("error.description")} <span class="text-primary font-semibold">URL</span> {translateLabels("error.description2")}
        </p>
        <p id="paragraphBoe" class="text-primary font-medium italic text-2xl cursor-pointer hover:scale-110 transition-transform duration-200 select-none">Bueeeeeeeee!</p>
        <audio id="paragraphSound" src="/outroCoscu.mp3"></audio>
    </div>
</section>

<script>
    const parrafo = document.getElementById("paragraphBoe") as HTMLParagraphElement || null;
    const sonido = document.getElementById("paragraphSound") as HTMLAudioElement || null;

    sonido.volume = 0.03;

    parrafo.addEventListener("click", () => {
        sonido.paused ? sonido.play() : sonido.pause();
    });
</script>