---
import LogoCaawards from '@/icons/LogoCaawards.astro';
import { useTranslations } from "@/i18n/utils";
import { languageList } from "@/i18n/lang";

const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<section class="flex items-center md:justify-evenly justify-evenly flex-col-reverse xl:flex-row flex-1">
    <a href="/"><LogoCaawards class:list={'xl:w-[680px] md:w-[430px] w-80 h-auto'} alt="logo-caawards"/></a>
    <div class="flex flex-col items-center gap-3">
        <h2 class="xl:text-5xl text-4xl text-primary italic">ERROR 404</h2>
        <h3 class="xl:text-4xl md:text-3xl text-2xl font-medium">{translateLabels("error.notfound")}</h3>
        <p class="md:w-96 w-80 text-center text-xl xl:text-2xl xl:w-[400px]">
            {translateLabels("error.description")} <span class="text-primary font-semibold">URL</span> {translateLabels("error.description2")}
        </p>
    </div>
</section>