---
import UpArrow from "@/icons/UpArrow.astro";
import { PicanteModelCanvas } from "@/components/3D-Model/PicanteModelCanvas";
import { useTranslations } from "@/i18n/utils";
import { languageList } from "@/i18n/lang";

const currentLang = Astro.currentLocale || "es";

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList
);
---

<main class="flex-1 flex justify-center items-center">
  <section class="flex flex-col justify-center items-center  text-center">
    <PicanteModelCanvas 
      client:load 
      className="h-48 md:h-80 xl:h-64 2xl:h-[550px] w-full animate-fade-in animate-duration-slow animate-delay-1000"
    /> 
    <h1 class="font-Inter font-extrabold text-2xl md:max-w-none tracking-wide 2xl:text-5xl xl:text-4xl animate-slide-in-bottom animate-duration-slow">COSCU ARMY AWARDS</h1>
    <h2 
      class="font-Inter my-3 2xl:text-xl xl:text-base max-w-60 md:max-w-full animate-slide-in-bottom animate-duration-slow">
      {translateLabels("hero.description")} <span class="text-sky-400">{translateLabels("hero.description2")}</span>
    </h2>
    <a 
      href={currentLang === "en" ? "/en/about" : "/about"} 
      class="flex py-2 px-4 font-medium rounded bg-yellow-600 text-white gap-2 items-center transition-all duration-300 hover:bg-yellow-500 hover:shadow-lg hover:shadow-yellow-500/20 group animate-zoom-in"
    >
      <span>{translateLabels("hero.button")}</span>
      <UpArrow 
        strokeWidth="2" 
        class:list={['w-3', 'transition-transform duration-300', 'group-hover:rotate-180' ]}
      />
    </a>
  </section>
</main>