---

---



<section class="flex flex-1 flex-col items-center justify-center my-20 md:my-0">
  <h2 class="font-bold text-center font-Inter my-12 text-4xl text-primary">Streamers del año</h2>
  <ol class="flex flex-col md:flex-row gap-12 items-center justify-center relative">
    <div class="absolute h-0.5 bg-primary top-1/2 transform -translate-y-1/2" style="left: calc(10rem / 2); width: calc(100% - 10rem);"></div>
    <li class="flex flex-row md:flex-col items-center relative">
      <a href="https://kick.com/frankkaster" target="_blank" rel="noopener noreferrer"><img src="https://www.famousbirthdays.com/headshots/frankkaster-1.jpg" alt="image" class="rounded-full w-20 grayscale mb-4 hover:filter-none duration-300 hover:scale-110 transition-transform">
      </a>

      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="font-bold font-Inter text-2xl">2018</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">Frankkaster</h4>
        <h5 class="font-extralight font-Inter">Francisco Postiglione</h5>
      </div>
    </li>
    <li class="flex flex-row md:flex-col items-center relative">
      <a href="https://kick.com/grafo" target="_blank" rel="noopener noreferrer"><img src="https://pbs.twimg.com/media/E6XpDw1X0AgrWzO.jpg:large" alt="image" class="rounded-full grayscale mb-4 hover:filter-none duration-300 w-20 h-20 object-cover hover:scale-110 transition-transform">
      </a>
      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="font-bold font-Inter text-2xl">2019</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">Grafo</h4>
        <h5 class="font-extralight font-Inter">Nicolás Graffigna</h5>
      </div>
    </li>
    <li class="flex flex-row md:flex-col items-center relative">
      <a href="https://kick.com/pimpeano" target="_blank" rel="noopener noreferrer"><img src="https://yt3.googleusercontent.com/ay_j629cjH9ClIv_ftFFnXbZzJthKlmNtENpz2x4X3SatIiyCguWkTD3YlQS-Q7wOrRmI0RI9g=s900-c-k-c0x00ffffff-no-rj" alt="image" class="rounded-full grayscale mb-4 hover:filter-none duration-300 w-20 h-20 object-cover hover:scale-110 transition-transform">
      </a>  
      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="font-bold font-Inter text-2xl">2020</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">Pimpeano</h4>
        <h5 class="font-extralight font-Inter">Galo Blasco</h5>
      </div>
    </li>
    <li class="flex flex-row md:flex-col items-center relative">
    <a href="https://www.twitch.tv/momoladinastia" target="_blank" rel="noopener noreferrer"> <img src="https://media.0221.com.ar/adjuntos/357/migration/0221/032019/1553553111207.jpg" alt="image" class="rounded-full grayscale mb-4 hover:filter-none duration-300  w-20 h-20 object-cover hover:scale-110 transition-transform">
    </a>

      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4 ">
        <h3 class="font-bold font-Inter text-2xl">2021</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">Momo</h4>
        <h5 class="font-extralight font-Inter">Gerónimo Benavides</h5>
      </div>
    </li>
    <li class="flex flex-row md:flex-col items-center relative">
    <a href="https://kick.com/spreen" target="_blank" rel="noopener noreferrer"> <img src="https://resizer.glanacion.com/resizer/v2/spreen-el-santafesino-de-22-anos-que-crea-XAZGRZAE2BD6PAUGYVQKKI7MMU.JPG?auth=8d5dd24bfd296b206013bbff5921d330fb2cef695ec7f3414de5b2dba9ab8f55&width=1280&height=854&quality=70&smart=true" alt="image" class="rounded-full grayscale mb-4 hover:filter-none duration-300  w-20 h-20 object-cover hover:scale-110 transition-transform"> 
    </a>
      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="font-bold font-Inter text-2xl">2022</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">Spreen</>
        <h5 class="font-extralight font-Inter">Ivan Buhajeruk</h5>
      </div>
    </li>
    <li class="flex flex-row md:flex-col items-center relative">
      <a href="https://kick.com/davooxeneize" target="_blank" rel="noopener noreferrer"> <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/R2KIOQZLKJHRLND3F3A345UZDQ.jpg" alt="image" class="rounded-full grayscale mb-4 hover:filter-none duration-300  w-20 h-20 object-cover hover:scale-110 transition-transform">
      </a>
      <div class="w-3 h-3 bg-primary rounded-full z-10" style="position: absolute; top: 50%; transform: translateY(-50%);"></div>
      <div class="flex flex-col items-center mt-4">
        <h3 class="font-bold font-Inter text-2xl">2023</h3>
        <h4 class="font-normal text-2xl font-Inter text-primary">DavooXeneize</h4>
        <h5 class="font-extralight font-Inter">David Quint</h5>
      </div>
    </li>
  </ol>
</section>

<style>
  .relative > div.absolute {
    width: calc(100% - 3rem);
    left: calc(1.5rem);
    right: calc(1.5rem);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .relative > div.bg-primary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
</style>