---
import Kick from '@/icons/Sponsors/Kick.astro'
import Stake from '@/icons/Sponsors/Stake.astro'
import Speed from '@/icons/Sponsors/Speed.astro'
---

<section class="flex flex-1 flex-col items-center justify-center my-20 md:my-0">
    <h2 class="font-bold text-center font-Inter my-12 text-4xl text-primary">NOS ACOMPAÑAN EN ESTE EVENTO...</h2>
    <div>
        <Kick alt="Kick" class:list={'w-96 h-auto'}/>
        <Stake alt="Stake" class:list={'w-96 h-auto'} />
        <Speed alt="Speed" class:list={'w-96 h-auto'} />
    </div>
</section>