---
import Kick from '@/icons/Sponsors/Kick.astro'
import Stake from '@/icons/Sponsors/Stake.astro'
import Speed from '@/icons/Sponsors/Speed.astro'
---

<section class="flex flex-1 flex-col items-center justify-center my-20 md:my-0">
    <h2 class="font-bold text-center font-Inter my-12 text-primary text-2xl md:text-4xl">NOS ACOMPAÑAN EN ESTE EVENTO...</h2>
    <div class="flex md:flex-row flex-col gap-20 ">
        <Kick alt="Kick" class:list={'sponsors-class'}/>
        <Stake alt="Stake" class:list={'sponsors-class'} />
        <Speed alt="Speed" class:list={'sponsors-class'} />
    </div>
</section>